{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <div id="sun">
            <img src="{{ asset('/images/soleil.png') }}" id="game_sun">
        </div>
        <div id="perso"></div>
        <div class="box b1">
            <img src="{{ asset('/images/icon2.png') }}">
        </div>
        <div class="box b2">
            <img src="{{ asset('/images/icon2.png') }}">
        </div>
        <div class="box b3">
            <img src="{{ asset('/images/icon2.png') }}">
        </div>
        <div class="cloud c1">
            <img src="{{ asset('/images/cloud.png') }}" class="game_cloud">
        </div>
        <div class="cloud c2">
            <img src="{{ asset('/images/cloud.png') }}" class="game_cloud">
        </div>
        <div class="cloud c3">
            <img src="{{ asset('/images/cloud.png') }}" class="game_cloud">
        </div>
        <div class="ground1"></div>
        <div class="ground2"></div>
        <div id="scoreTxt">Score:</div>
        <div id="scoreNumb">0</div>
        <div id="posV"></div>
        <div id="gameOver">Game Over</div>
        <div id="ui"></div>
        <div id="lifeTxt">Vie:</div>
        <div id="lifeNumb"></div>
        <div id="wall">
            <img src="{{ asset('/images/wall.png') }}" class="img_wall">
        </div>
        <div class="dev"></div>
        <div id="game__end">
            <img src="{{ asset('/images/door.png') }}" class="game_door">
        </div>
        <div id="game__end__message">Fin du niveau</div>
        <div id="game__url" data-url="{{ path('game_score') }}"></div>
    </div>
{% endblock %}

{% block footer_character %}
{% endblock %}