{% extends 'base.html.twig' %}

{% block header_title %}Tarzek{% endblock %}

{% block header_sub_title %}Mercenaire et épée du roi{% endblock %}

{% block body %}
    <div class="rope">
        <div>Image js</div>
        <div>Text</div>
    </div>
    <div class="rope">
        <h3>Les dernières annonces</h3>
        {% for advert in list_advert %}
            <h4>{{ advert.category }} : {{ advert.title }}</h4>
            <h6>{{ advert.datePublication|date("d/m/Y") }} par {{ advert.author.username }}</h6>
            <p>{{ advert.content|bbcode2html }}</p>
        {% endfor %}
    </div>
{% endblock %}