{% extends 'base.html.twig' %}

{% block header_title %}Classement{% endblock %}

{% block body %}

    <div class="rope col_half">

        <h3 class="rope_title">Classement général Top 10</h3>
        <table class="table">
            <tr>
                <th class="table_col">Pseudo</th>
                <th class="table_col">Score</th>
            </tr>
            {% for scoreboard in list_scoreboard|slice(0, 10) %}
                <tr>
                    <td class="table_col">{{ scoreboard.user.username }}</td>
                    <td class="table_col">{{ scoreboard.finalScore }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="rope col_half">
        <h3 class="rope_title">Meilleur score par niveau</h3>
        <table class="table">
            <tr>
                <th class="table_col">Niveau</th>
                <th class="table_col">Pseudo</th>
                <th class="table_col">Score</th>
            </tr>
            {% for level in ladder %}
                <tr>
                    <td class="table_col">Niveau {{ loop.index }}</td>
                    <td class="table_col">{{ level.username }}</td>
                    <td class="table_col">{{ level.score }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}