{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ pre_query.SectionName }}</h2>
        {% for ForumSection in list_section %}
            {% if ForumSection.Hierarchy == pre_query.Hierarchy + 1 %}
                <h3>{{ ForumSection.SectionName }}</h3>
                <p>{{ ForumSection.Description }}</p>

                
                {% for ForumPost in list_subject %}
                    {% if ForumPost.Section.id == pre_query.Id %}
                        <h4>{{ ForumPost.title }}</h4>
                        <p>{{ ForumPost.Description }}</p>
                        <p>{{ ForumPost.Author.Username }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    
{% endblock %}
