{# empty Twig template #}

{% extends "base.html.twig" %}

{% block header_title %}Inscription{% endblock %}

{% block body %}

    <div class="rope">
    
        {{ form_start(form) }}

        {# en cas d'erreur sur le formulaire #}
        {{ form_errors(form) }}
        {{ form_errors(form.username) }}
        {{ form_errors(form.password.first) }}
        {{ form_errors(form.password.second) }}
        {{ form_errors(form.email) }}

        <div class="form_group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, { 'attr': {'class': 'form_input'}}) }}
        </div>

        <div class="form_group">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, { 'attr': {'class': 'form_input'}}) }}
        </div>

        <div class="form_group">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, { 'attr': {'class': 'form_input'}}) }}
        </div>

        <div class="form_group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form_input'}}) }}
        </div>

        <div class="form_group">
            {{ form_widget(form.send) }}
        </div>

        {{ form_end(form) }}
    </div>
    
{% endblock %}