{% extends 'base.html.twig' %}

{% block header_title %}Modification d'utilisateur{% endblock %}

{% block body %}
    <div class="rope">
        {{ form_start(form) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form_group">
            {{ form_label(form.username, "Pseudo") }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, { 'attr': {'class': 'form_input'}}) }}
        </div>
        <div class="form_group">
            {{ form_label(form.roles, "Role") }}
            {{ form_errors(form.roles) }}
            {{ form_widget(form.roles, { 'attr': {'class': 'form_input'}}) }}
        </div>
        <div class="form_group">
            {{ form_label(form.isActive, "Activité du compte") }}
            {{ form_errors(form.isActive) }}
            {{ form_widget(form.isActive, { 'attr': {'class': 'form_input'}}) }}
        </div>
        <div class="form_group">
            {{ form_widget(form.send) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}