{% extends 'base.html.twig' %}

{% block header_title %}Envoi de message{% endblock %}

{% block body %}
    <div class="rope">
        {{ form_start(form) }}

        {# en cas d'erreur sur le formulaire #}
        {% if form_errors(form) or
                form_errors(form.recipients) or
                form_errors(form.title) or
                form_errors(form.message)
        %}
            <div class="notification notification_error">
                {{ form_errors(form) }}
                {{ form_errors(form.recipients) }}
                {{ form_errors(form.title) }}
                {{ form_errors(form.message) }}
            </div>
        {% endif %}

        <div class="form_group">
            {{ form_label(form.recipients, "Destinataire(s)") }}
            {{ form_widget(form.recipients, { 'attr': {'class': 'form_input'} }) }}
        </div>

        <div class="form_group">
            {{ form_label(form.title, "Titre du message") }}
            {{ form_widget(form.title, { 'attr': {'class': 'form_input'} }) }}
        </div>

        <div class="form_group">
            {{ form_label(form.message, "Contenu du message") }}
            <div class="text-editor">
                <button class="text-editor__btn" type="button" name="add-bold"><i class="fa fa-bold"></i></button>
                <button class="text-editor__btn" type="button" name="add-italic"><i class="fas fa-italic"></i></button>
                <button class="text-editor__btn" type="button" name="add-underline"><i class="fas fa-underline"></i></button>
                <button class="text-editor__btn" type="button" name="add-delete"><i class="fas fa-strikethrough"></i></button>
                <button class="text-editor__btn" type="button" name="add-list"><i class="fas fa-list-ul"></i></button>
                <button class="text-editor__btn" type="button" name="add-url"><i class="fas fa-link"></i></button>
                <button class="text-editor__btn" type="button" name="add-img"><i class="far fa-image"></i></button>
            </div>
            {{ form_widget(form.message, {'id':'text-area_content', 'attr': {'class': 'form_input'} }) }}
        </div>

        <div class="form_group btn">
            {{ form_widget(form.save, { 'attr': {'class': 'btn_brown'} }) }}
        </div>
        {{ form_end(form) }}

        <div class="btn">
            <a href="{{ path('messaging') }}"><button class="btn_brown">Retour à la messagerie</button></a>
        </div>
    </div>
{% endblock %}