{% extends 'base.html.twig' %}

{% block header_title %}Messagerie{% endblock %}

{% block body %}
    <div class="rope">
        <div class="btn">
            <a href="{{ path('message_create') }}"><button class="btn_brown">Envoyer un message</button></a>
        </div>

        <h3 class="rope_title">Messages reçus</h3>

        <table class="messaging_table">
            <tr class="messaging_table_col messaging_table_header">
                <th class="messaging_table_item">Titre du message</th>
                <th class="messaging_table_item">Expediteur</th>
                <th class="messaging_table_item">Date d'envoi</th>
                <th class="messaging_table_item"></th>
            </tr>
            {% for message in list_messages_received %}
                <tr class="messaging_table_col">
                    <td class="messaging_table_item"><a href="{{ path('message_view', {'id': message.message.id}) }}">{{ message.message.title }}</a></td>
                    <td class="messaging_table_item">{{ message.message.sender.username }}</td>
                    <td class="messaging_table_item">{{ message.message.sendingDate|date("d/m/Y") }}</td>
                    <td class="messaging_table_item">
                        {% if message.reading %}
                            <i class="far fa-envelope-open"></i>
                        {% else %}
                            <i class="far fa-envelope"></i>
                        {%  endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3 class="rope_title">Messages envoyés</h3>

        <table class="messaging_table">
            <tr class="messaging_table_col messaging_table_header">
                <th class="messaging_table_item">Titre du message</th>
                <th class="messaging_table_item">Destinataire(s)</th>
                <th class="messaging_table_item">Date d'envoi</th>
            </tr>
            {% for message in list_messages_sent %}
                <tr class="messaging_table_col">
                    <td class="messaging_table_item"><a href="{{ path('message_view', {'id': message.id}) }}">{{ message.title }}</a></td>
                    <td class="messaging_table_item">
                        {% for recipient in message.recipients %}
                            {# on ajoute une virgule après chaque destinataire sauf le dernier #}
                            {{ recipient.username }}{% if loop.last == false %},{% endif %}
                        {% endfor %}
                    </td>
                    <td class="messaging_table_item">{{ message.sendingDate|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}