{% extends 'base.html.twig' %}

{% block header_title %}Message{% endblock %}

{% block body %}
    <div class="rope">
        <div class="btn">
            <a href="{{ path('messaging') }}"><button class="btn_brown">Retour à la messagerie</button></a>
        </div>

        <h3 class="rope_title">{{ message.title }}</h3>
        <h4><i class="far fa-calendar-alt"></i> {{ message.sendingDate|date("d/m/Y") }} <i class="fas fa-user"></i> {{ message.sender.username }}</h4>

        <p>{{ message.message|bbcode2html }}</p>
    </div>
{% endblock %}