{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('message_create') }}">Envoyer un message</a>

    <h3>Messages reçus</h3>

    <table>
        <tr>
            <th>Titre du message</th>
            <th>Expediteur</th>
            <th>Date d'envoi</th>
        </tr>
        {% for message in app.user.messages %}
            <tr>
                <td><a href="{{ path('message_view', {'id': message.id}) }}">{{ message.title }}</a></td>
                <td>{{ message.sender.username }}</td>
                <td>{{ message.sendingDate|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Messages envoyés</h3>

    <table>
        <tr>
            <th>Titre du message</th>
            <th>Destinataire(s)</th>
            <th>Date d'envoi</th>
        </tr>
        {% for message in list_messages %}
            <tr>
                <td><a href="{{ path('message_view', {'id': message.id}) }}">{{ message.title }}</a></td>
                <td>
                    {% for recipient in message.recipients %}
                        {# on ajoute une virgule après chaque destinataire sauf le dernier #}
                        {{ recipient.username }}{% if loop.last == false %},{% endif %}
                    {% endfor %}
                </td>
                <td>{{ message.sendingDate|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}