{# Profil template #}

{% extends 'base.html.twig' %}
    
{% block body %}
    
    <h1>Profil</h1>

    <img src="{{ app.user.Avatar }}" alt="Avatar de profil"/>

    <ul>
        <li>Pseudo: {{ app.user.username }}</li>
        <li>Pseudo: {{ app.user.email }}</li>
        <li>Pseudo: {{ app.user.LName }}</li>
        <li>Pseudo: {{ app.user.FName }}</li>
        <li>Pseudo: {{ app.user.Adress }}</li>
        <li>Pseudo: {{ app.user.City }}</li>
        <li>Pseudo: {{ app.user.PostCode }}</li>
        <li>Pseudo: {{ app.user.PhoneNumb }}</li>
    </ul>

{% endblock %}

    