{# Profil template #}

{% extends 'base.html.twig' %}
    
{% block body %}
    
    <h1>Profil</h1>

    <img src="{{ app.user.avatar }}" alt="Avatar de profil"/>

    <ul>
        <li>Pseudo: {{ app.user.username }}</li>
        <li>Pseudo: {{ app.user.email }}</li>
        <li>Pseudo: {{ app.user.l_name }}</li>
        <li>Pseudo: {{ app.user.f_name }}</li>
        <li>Pseudo: {{ app.user.adress }}</li>
        <li>Pseudo: {{ app.user.city }}</li>
        <li>Pseudo: {{ app.user.post_code }}</li>
        <li>Pseudo: {{ app.user.phone_numb }}</li>
    </ul>

{% endblock %}

    