{# Profil template #}

{% extends 'base.html.twig' %}

{% block header_title %}Mon compte{% endblock %}
    
{% block body %}

    <div class="rope col_2_third">
        <div class="col_half">
            {% if app.user.AvatarURL %}
                <img src="{{ app.user.AvatarURL }}" alt="Avatar de profil" class="profil_img"/>
            {% elseif app.user.avatarUpload %}
                <img src="{{ asset(app.user.avatarUpload.webPath) }}" alt="{{ app.user.avatarUpload.alt }}" class="profil_img">
            {% else %}
                <img src="{{ asset("/images/walk1_2.png") }}" class="profil_img">
            {% endif %}
            <div class="btn">
                <a href="{{ path('profil_edit_avatar') }}"><button class="btn_brown">Modifier mon avatar</button></a>
            </div>
        </div>
        <div class="col_half">
            <ul>
                <li class="profil_item"><span class="profil_item_title">Pseudo:</span> {{ app.user.username }}</li>
                <li class="profil_item"><span class="profil_item_title">e-mail:</span> {{ app.user.email }}</li>
                <li class="profil_item"><span class="profil_item_title">Nom:</span> {{ app.user.LName }}</li>
                <li class="profil_item"><span class="profil_item_title">Prenom:</span> {{ app.user.FName }}</li>
                <li class="profil_item"><span class="profil_item_title">Adresse:</span> {{ app.user.Adress }}</li>
                <li class="profil_item"><span class="profil_item_title">Ville:</span> {{ app.user.City }}</li>
                <li class="profil_item"><span class="profil_item_title">Code Postal:</span> {{ app.user.PostCode }}</li>
                <li class="profil_item"><span class="profil_item_title">Téléphone:</span> {{ app.user.PhoneNumb }}</li>
                <div class="btn">
                    <a href="{{ path('profil_edit_infos') }}"><button class="btn_brown">Modifier mes informations</button></a>
                </div>
            </ul>
        </div>
    </div>

    <div class="rope col_third">
        <h3 class="rope_title">Score personnel</h3>

            {% if scoreboard %}
                <table class="table">
                    <tr class="table_row">
                        <th class="table_col">Niveau</th>
                        <th class="table_col">Meilleur score</th>
                    </tr>
                        {% for score in scoreboard.scoreboard %}
                            <tr class="table_row">
                                <td class="table_col">Niveau {{ loop.index }}</td>
                                <td class="table_col">{{ score }} points</td>
                            </tr>
                        {% endfor %}
                </table>
            {% else %}
                Vous n'avez encore aucun score enregistré.
            {% endif %}
    </div>

{% endblock %}

    