<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Tarzek{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('game') }}">Jeu</a></li>
                <li><a href="{{ path('ladder') }}">Classement</a></li>
                <li><a href="{{ path('forum') }}">Forum</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>{{ app.user.username }}</li>
                    <li><a href="{{ path('profil') }}">Mon profil</a></li>
                    <li><a href="{{ path('messaging') }}">Messagerie</a></li>
                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Connexion</a></li>
                    <li><a href="{{ path('registration') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
