<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Tarzek{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="nav">
            <a class="nav_link" href="{{ path('homepage') }}">Accueil</a>
            <a class="nav_link" href="{{ path('game') }}">Jeu</a>
            <a class="nav_link" href="{{ path('ladder') }}">Classement</a>
            <a class="nav_link" href="{{ path('forum') }}">Forum</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="nav_dropdown">
                    <span class="nav_item">{{ app.user.username }}</span>
                    <button data-event='navbar-btn-dropdown' class="nav_dropdown_btn"><i class="fas fa-chevron-down"></i></button>
                    <div class="nav_dropdown_content" data-event='navbar-dropdown-content'>
                        <a class="nav_dropdown_link" href="{{ path('profil') }}">Mon profil</a>
                        <a class="nav_dropdown_link" href="{{ path('messaging') }}">Messagerie</a>
                        <a class="nav_dropdown_link" href="{{ path('logout') }}">Déconnexion</a>
                    </div>
                </div>
            {% else %}
                <a class="nav_link" href="{{ path('login') }}">Connexion</a>
                <a class="nav_link" href="{{ path('registration') }}">Inscription</a>
            {% endif %}
        </nav>

        <header class="header">
            <h1 class="header_title">{% block header_title %}{% endblock %}</h1>
            <h2 class="header_sub_title">{% block header_sub_title %}{% endblock %}</h2>
        </header>

        <main class="body_content">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        </main>

        <footer class="footer">
            <div class="footer_character"></div>
            <div class="footer_ground">
                <p class="footer_text">&copy; Copyright Tarzek</p>
            </div>
        </footer>

        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
