{# empty Twig template #}
{% extends "base.html.twig" %}

{% block header_title %}Message{% endblock %}

{% block body %}
    
    {% if pre_query is defined %}

        <div class="rope">
            {{ form_start(form) }}

            {# en cas d'erreurs sur le formulaire #}
            {% if form_errors(form) or
                form_errors(form.title.title) or
                form_errors(form.title.description) or
                form_errors(form.content)
            %}
                <div class="notification notification_error">
                    {{ form_errors(form) }}
                    {{ form_errors(form.title.title) }}
                    {{ form_errors(form.title.description) }}
                    {{ form_errors(form.content) }}
                </div>
            {% endif %}

            <div class="form_group">
                {{ form_label(form.title.title) }}
                {{ form_widget(form.title.title, { 'attr': {'class': 'form_input'} } ) }}
            </div>

            <div class="form_group">
                {{ form_label(form.title.description) }}
                {{ form_widget(form.title.description, { 'attr': {'class': 'form_input'} } ) }}
            </div>

            <div class="form_group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class': 'form_input'} } ) }}
            </div>

            <div class="form_group btn">
                {{ form_widget(form.send, { 'attr': {'class': 'btn_brown'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    
    {% else %}
        <div class="rope">
            {{ form_start(form) }}

            {# en cas d'erreurs sur le formulaire #}
            {% if form_errors(form) or
                form_errors(form.title.title) or
                form_errors(form.title.description) or
                form_errors(form.content)
            %}
                {{ form_errors(form) }}
                {{ form_errors(form.title.title) }}
                {{ form_errors(form.title.description) }}
                {{ form_errors(form.content) }}
            {% endif %}

            <div class="form_group">
                {{ form_row(form.title.title, { 'attr': {'class': 'form_input', 'value': forum_post_title.title } }) }}
                {#{ form_widget(form.title.title, { 'attr': {'class': 'form_input', 'value': forum_post.0.title } } ) }#}
            </div>

            <div class="form_group">
                {{ form_row(form.title.description, { 'attr': {'class': 'form_input', 'value': forum_post_title.description } }) }}
                {#{ form_widget(form.title.description, { 'attr': {'class': 'form_input', 'value': forum_post.0.title } } ) }#}
            </div>

            <div class="form_group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class': 'form_input' } } ) }}
            </div>

            <div class="form_group btn">
                {{ form_widget(form.send, { 'attr': {'class': 'btn_brown'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
        <div class="rope reponse">   
            <div class="page_sujet_separator"></div>
            {% for ForumPost in forum_post %}
                <div class="page_sujet_post">
                    <div class="page_sujet_user">
                        {% if ForumPost.Author.AvatarURL %}
                            <img src="{{ ForumPost.Author.AvatarURL }}" class="page_sujet_avatar">
                        {% elseif ForumPost.Author.AvatarUpload %}
                            <img src="{{ asset(ForumPost.Author.avatarUpload.webPath) }}" class="page_sujet_avatar">
                        {% else %}
                            <img src="{{ asset("/images/walk1_2.png") }}" class="page_sujet_avatar">
                        {% endif %}
                        <p>{{ ForumPost.Author.Username }}</P>
                    </div>
                    <div class="page_sujet_message">
                        <p>{{ ForumPost.DatePost | date('d-m-Y H:i') }}</p>
                        <p>{{ ForumPost.Content }}</p>
                        
                        {% if ForumPost.DateEdit != null %}
                            <p>{{ ForumPost.DateEdit | date('d-m-Y H:i') }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
            
{% endblock %}