{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ pre_query.SectionName }}</h2>
        {% for ForumSection in list_section %}
            {% if ForumSection.Hierarchy == pre_query.Hierarchy + 1 %}
                <h3>{{ ForumSection.SectionName }}</h3>
                <p>{{ ForumSection.Description }}</p>

                
                {% for ForumPostTitle in list_subject %}
                    {% if ForumPostTitle.Section.id == pre_query.Id %}
                        <h4><a href="/forum/sujet/{{ ForumPostTitle.urlTitle }}">{{ ForumPostTitle.Title }}</a></h4>
                        <p>{{ ForumPostTitle.Description }}</p>
                        
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <a href="{{ path('response', {'url_title': 'new_subject', 'section': pre_query.UrlName }) }}">Nouveau sujet</a>
        
{% endblock %}
